body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.2em;
    line-height: 1.7;

}



li{
    list-style-type: none;
    

}

a{
        text-decoration: none;
        color:#dd55;
    }
abbr[title]{
    text-decoration: none;
}